:root {
    /* Rangos */
    --Administrador: #cc0000;
    --Moderador: #00aaff;
    --Vigilante: #e083c4;
    --Usuario: #000000;
    --Baneado: #111111;
    --VIP: #007800;

    /* Tema claro */
    --color-text: #000000;
    --color-text-pale: #525252;
    --color-link: #63553c;
    --color-th-text: #c4a0a0;
    --color-hr-text: #aea89c;
    --color-background-1: #b2aca0;
    --color-background-2: #eee8dc;
    --color-highlight: white;
    --color-border: #7e7e7e;
    --color-pagination-text: #3f3f3f;
    --color-pagination-text-visited: #171717;
    --color-shadow-text: #ffffffcc;
    --color-spoil-shadow-text: rgba(44, 53, 65, 0.8);
    --color-shadow-box: #4d4d4d4d;
    --color-background-link: #cccccc;
    --color-accent-1: #c2c2c2;
    --color-accent-2: #eeeeee;
    --color-accent-3: #fafafa;
    --color-spoilbtn-1: #eeeeee;
    --color-spoilbtn-2: #eeeeee;
    --color-spoilbtn-text: #000000;
    --color-button-1: #fffffa;
    --color-button-2: #ffffdd;
    --color-alert: red;
    --color-alert-1: #ffaaaa;
    --color-alert-2: #ffdada;
    --color-post-button-1: #aaffaa;
    --color-post-button-2: #daffda;
    --color-trow1-background-1: #f7f3e9;
    --color-trow1-background-2: #dddad2;
    --color-trow2-background-1: #f3eddd;
    --color-trow2-background-2: #d8d6c5;
    --color-sticky-background-1: #dddae2;
    --color-sticky-background-2: #f7f3f9;
    --color-regular-background-1: #f8f2e2;
    --color-regular-background-2: #9892a2;
    --color-alert-background-1: #fffbd9; /* #bfbb99;*/
    --color-alert-background-2: #dddaa2;
    --color-alert-border: #ffd324;
    --color-link-visited: #641330;
    --color-info-border: #641330;
    --color-filter-background-1: #acb541;
    --color-filter-background-2: #c3d063;
    --color-activo-hex: #999900;
    --color-activo-rgba: rgba(200, 200, 0, 0.3);
    --color-completo-hex: #009900;
    --color-completo-rgba: rgba(0, 200, 0, 0.3);
    --color-abandonado-hex: #990000;
    --color-abandonado-rgba: rgba(200, 0, 0, 0.3);
    --color-subiendo-1: #d3edbd;
    --color-subiendo-2: #b8d6a5;
    --color-tcat-1: #c2bcaf;
    --color-tcat-2: #ede7db;
    --color-thead-background-1: #2c3541;
    --color-thead-background-2: #435063;
    --color-thead-background-3: #cfc9bc;
    --color-thead-text: white;
    --color-panel-background-1: #d1c8b8; /* tfoot, welcome, bottommenu, pollbar... */
    --color-panel-background-2: #b7a9a3; /* tfoot, welcome, bottommenu, pollbar... */
    --color-table-border: #d6cdbb;
    --color-menu-backrgound-hover: rgba(0, 0, 0, 0.1);
    --color-editedby-neutral-text: #3f3f3f;
    --color-success-text: #008800;
    --color-blockquote-background: #d7d3c9;
    --color-accent-border: #81a2c4;
    --color-row-pale-background: #ffdde0;
    --color-input-border: #0f5c8e;
    --color-editor-background: #f1f1f1;
    --color-autocomplete-background: #adcee7;
    --color-menu-hover-background: #c7dbee;
    --color-reputation_positive-background: #ccffcc; /* no vale para nada, lo sobrescribe --color-trowX-background */
    --color-reputation_negative-background: #ffcccc; /* no vale para nada, lo sobrescribe --color-trowX-background */
    --color-invalid-border: #ff3300;
    --color-valid-border: #008800;
    --color-blackquote-shadow: rgba(0, 0, 0, 0.2);
    --color-red_alert-background: #fbe3e4;
    --color-red_alert-border: #a5161a;
    --color-blue_alert-background: #e3e4fb;
    --color-blue_alert: #161aa5;
    --color-error-text: #cc0000;
    --color-error-border: #ff9394;
    --color-error-background: #ffe6cf;
    --color-warning_moderate-text: #f3611b;
    --color-warning_low-text: #ae5700;
    --color-online-text: #15a018;
    --color-offline-text: #c7c7c7;
    --color-neutral-text: #999999;
    --color-minus-background: #fdd2d1;
    --color-minus-text: #cb0200;
    --color-minus-border: #980201;
    --color-plus-background: #e8fcdc;
    --color-plus-text: #008800;
    --color-plus-border: #008800;
    --color-breadcrumb-background: #fafafa;
    --color-button-background-hover: rgba(255, 255, 255, 0.2);
    --color-clicked-background-hover: rgba(255, 255, 255, 0.3);
    --color-toolbar_editor-border: #aaaaaa;
    --color-toolbar_dropdown-background: #eeeeee;
    --color-toolbar_dropdown-border: #5296f7;
    --color-toolbar_dropdown-text: navy;
    --color-toolbar_dropdown-background-2: #c1d2ee;
    --color-ficha-border: #cdcac2;
    --color-ficha-shadow: rgba(44, 53, 65, 0.3);
    --color-xtra_td-background: #cbc8c0;
    --color-masinfo-shadow: rgba(60, 69, 65, 0.5);
    --color-normas-background-1: #f3ddcd;
    --color-normas-background-2: #d8c6b5;
    --color-normas-border: #aa0000;
    --color-diccionario-background-1: #2c8541;
    --color-diccionario-background-2: #43a063;
    --color-button-text: grey;
    --color-color-text: blue;
    --color-portadas-background-1: rgba(200, 200, 0, 0.9);
    --color-portadas-background-2: rgba(200, 0, 0, 0.9);
    --color-filelist-background-1: #f5f4ea;
    --color-filelist-background-2: #ece9d8;
    --color-link-shadow: rgba(255, 0, 0, 0.3);
    --color-link_hover-shadow: rgba(192, 0, 0, 1);
    --color-pmform-background-1: #c7c3b9;
    --color-pmform-background-2: #bdbab2;
}
